<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="localpageid" frontName="localpage">
            <module name="Amasty_ArtemModule" />
        </route>
        <route id="secondpageid" frontName="checkoutpage">
            <module name="Amasty_ArtemModule" />
        </route>
    </router>
</config>
